.about-content h1 {
    font-size: 100px;
    position: absolute;
    top: 25%;
    left: 20%;


}

.about-content p {
    font-size: 18px;
    margin-bottom: 5%;
    text-align: justify;
    text-indent: 8%;
    margin-left: 0%;
    width: 80%;
   
  
}
.about-ni h4 {
    width: 100%;
    margin-left: -10%;
    

}

.about-content .btn-group {
    position: absolute;
    left: 27%;
    top: 85%;
}

.about-image {
    width: 100%;
    box-sizing: border-box;

}

.about-image img {
    width: 30%;
    height: 55%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 10px 10px 5px 12px #c4a8d6;
    position: absolute;
    top: 25%;
    right: 6%;
}


@media only screen and (max-width: 1024px) {

    .about-content h1 {
        font-size: 30px;
        position: absolute;
        top: 20%;
        left: 10%;

    }

    .about-content p {
        font-size: 16px;
        width: 100%;
        margin-bottom: 37%;
      
   
     
       
        
    }

    .about-content h4 {
        position: absolute;
        top: 90%;
        left: 10%;
        text-decoration: none;

    }

    .about-content .btn-group {
        position: absolute;
        left: 25%;
        top: 100%;


    }

    .about-image img {
        width: 30%;
        height: 15%;
        position: absolute;
        right: 7%;
        top: 17%;
    }



}