.card {
  width: 100%;
  background: #d5c5df;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 10px 10px 5px #c4a8d6;
  flex-direction: column;
  text-align: center;
  padding-bottom: 24px;
}
.card-header h3 {
  padding: 14px 16px;
}

.card-header img {
  width: 100%;
  height:200px;
  border-radius: 16px;
  object-fit:cover;
 
}

.card-body {
  color: #ffffff;
  padding: 0 18px;
  margin-left: 25%;
}

.card-footer {
  padding: 14px 18px;
  
  
}
