#hero-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 72px 24px;
  min-height: 100vh;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 500px;
}

.hero-content h1 {
  font-size: 60px;
  text-align: center;
  position:absolute;
  top: 42%;
}
.hero-content h2 {
  font-size: 40px;
  text-align: center;
  position: absolute;
  left: 20%;
  top:35%;
}
.hero-content p {
  text-align: center;
  text-indent: 8%;
  margin-left: 8%;
  width: 100%;
  

 
}
.hero-content h3 {
  position: absolute;
  top:53%;
  left: 17%;
}

.text {
    position: absolute;
    top:28%;
    left: 5%;
}
.hero-image {
  width: 100%;
  box-sizing: border-box;
 
}
.hero-image img {
  width: 30%;
  height: 50%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 10px 10px 5px 12px  #c4a8d6;
  position:absolute;
  top:25%;
  right: 9%;

}
.hero-content .btn-group {
  display: flex;
  position: absolute;
  top:73%;
  left:21%;

}

@media only screen and (max-width: 1024px) {
  #hero-banner {
    flex-direction: column-reverse;
    padding: 48px 24px;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-content .btn-group {
    display: flex;
    flex-direction: column;
    position: absolute;
    top:84%;
     left:24%;
    
  }
  .hero-image img {
    width:45%;
    height: 25%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 10px 10px 5px 12px  #c4a8d6;
    position:absolute;
    top:18%;
    right: 29%;
  
  }
  .hero-content h2 {
    font-size: 20px;
    text-align: center;
    position: absolute;
    left: 33%;
    top:48%;
  }
  .hero-content h1 {
    font-size: 35px;
    text-align: center;
    position:absolute;
    top: 52%;
    left: 0%;
  }
  .hero-content h3 {
    position: absolute;
    top:59%;
    left: 14%;
  }
  .hero-content p {
    text-indent: 0cap;
    text-align: justify;
    text-indent: 8%;
    position: relative;
    margin-left: 1%;
    margin-bottom: 57%;
   
  }
}

