#services {
background-color:#faebfd;
  padding: 72px 20px;
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.services-heading {
  text-align: center;
}

.services-heading h2 {
  font-size: 32px;
  margin-bottom: 14px;
}

.card-container {
  display: flex;
  gap: 24px;
}

.card-body{
  text-align: justify;
  text-indent: 10%;
}

@media only screen and (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }
}