#submission {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

#submission h1 {
  font-size: 40px;
  text-align: center;
  margin-top: -10%;
}
#submission h2 {
  font-size: 20px;
  text-align: center;
  margin-top: 0%;
}


.favicon{
  position:absolute;
  top: -80px;
}